{% extends "data_app/layout.html" %}

{% block content %}
<br>
<br>
    <div class = "container-fluid jumbotron" style="color: rgb(70, 69, 69);">
        {% if posts %}
            <div class="container border" style="border: 3px;">
                <h3 style="border: 1px;">NYSE DATA</h3>
                <br>
                <table class="table table-hove" id = "nyse_table">
                    <thead>
                        <tr>
                            <th><p align="center">Symbol</p></th>
                            <th><p align="center">Opening Value</p></th>
                            <th><p align="center">Highest Value</p></th>
                            <th><p align="center">Lowest Value</p></th>
                            <th><p align="center">PREDICTION</p></th>
                            <th><p align="center">Date and Time</p></th>
                            <th><p align="center">ID</p></th>
                            <th><p align="center">User</p></th>
                        </tr>
                    </thead>
                    {% for predict in posts %}
                        <tbody>
                            <tr>
                                <th><p align="center">{{predict.company_symbol}}</p></th>
                                <th><p align="center">{{predict.open_val}}</p></th>
                                <th><p align="center">{{predict.high_val}}</p></th>
                                <th><p align="center">{{predict.low_val}}</p></th>
                                <th><p align="center">{{predict.close_prediction}}</p></th>
                                <th><p align="center">{{predict.date_time}}</p></th>
                                <th><p align="center">{{predict.id}}</p></th>
                                <th><p align="center">{{predict.users}}</p></th>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <script>
                $(function(){
                  $("#nyse_table").dataTable();
                })
            </script>
        {% endif %}

{% endblock content %}