{% extends "data_app/layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<br>
    <div class="content-section jumbotron" style="color: rgb(97, 97, 97);">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group" style="color: rgb(59, 59, 59);">
                <legend class="border-bottom mb-4">Registery</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Already Have An Account? <a class="ml-2" href="#">Sign In</a>
            </small>
        </div>
    </div>
{% endblock content %}